.edit-delete {
	display: inline-block;
	float: right;
}

div.bar.bar-header.bar-dark {
	margin-bottom: 30px;
}

div.item {
	margin-top: 20px;
}

.firstname-form {
	margin-top: 10px;
}

.btn-balanced,.button-assertive {
	margin-bottom: 70px;
}

.button-energized {
	margin: 3px;
	vertical-align: center;
}

.pupil-form {
	margin-left: 15px;
}
